/* Import nord module */
@import "./nord.css";

/* Import Streamster font */
@font-face {
	font-family: "Streamster";
	src: url("../assets/streamster.ttf");
}

/* Light theme */
[data-theme="light"] {
	--bg: var(--nord6);
	--text: var(--nord0);
	--logo-brackets: var(--nord9);
	--nav-text: var(--nord3);
	--header-text: var(--nord15);
	--inline-snippet: var(--nord9);
	--snippet-bg: var(--nord0);
}

/* Dark theme */
[data-theme="dark"] {
	--bg: var(--nord0);
	--text: var(--nord6);
	--logo-brackets: var(--nord9);
	--nav-text: var(--nord5);
	--header-text: var(--nord15);
	--inline-snippet: var(--nord13);
	--snippet-bg: var(--nord1);
}

/* Class to add during transition of themes */
.theme-transition {
	transition: background 0.25s ease-in-out;
}

html {
	background-color: var(--bg);
	color: var(--text);
	font-family: "Quicksand", --apple-system, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin: 0 auto;
	width: 80%;
}

.logo {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-family: "Streamster";
	margin-top: 2rem;
	position: relative;
}

.logo h1 {
	/* Gradient on text */
	background: linear-gradient(
		to top,
		var(--nord11) 30%,
		var(--nord12),
		var(--nord13)
	);
	background-clip: text;
	color: transparent;
	-webkit-background-clip: text;

	font-size: 5rem;
	padding: 1.5rem;
	z-index: 1;
}

.logo p {
	color: var(--logo-brackets);
	font-size: 8rem;
	position: absolute;
	z-index: 0;
}

nav {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 60%;
}

/* boosts z-index to be on top of [] symbol of logo */
nav a {
	z-index: 1;
}

nav a,
nav a:visited,
.toggle-theme {
	color: var(--nav-text);
	font-weight: 500;
	font-size: 1.25rem;
}

nav a:hover,
nav a:focus,
.toggle-theme:hover,
.toggle-theme:focus {
	text-decoration: underline;
}

.toggle-theme {
	/* resets for styling */
	background: inherit;
	border: 0;
	border-radius: 0.5rem;
	cursor: pointer;
	white-space: nowrap;
}

.headline {
	margin: 2rem 0;
}

.headline h1,
.headline h2 {
	color: var(--header-text);
	font-size: 2rem;
	font-weight: 600;
}

.inline-snippet {
	color: var(--inline-snippet);
	font-weight: 500;
}

.snippet {
	background: var(--snippet-bg);
	border-radius: 0.5rem;
	padding: 1rem 1rem 1rem 1.5rem;
}

.snippet-bar {
	display: flex;
	flex-direction: row-reverse;
}

.snippet-copy {
	/* resets for styling */
	background: inherit;
	border: 0;
	border-radius: 0.5rem;
	color: var(--nord8);
	cursor: pointer;
	white-space: nowrap;

	/* sizing and positioning */
	width: 25px;
	height: 25px;
	margin-left: 0.5rem;
	padding: 0;
}

.snippet-copy:hover {
	color: var(--nord15);
}

.snippet-copy:focus,
.snippet-copy:active {
	color: var(--nord8);
}

.snippet pre,
.snippet-one {
	background: var(--snippet-bg) !important;
}

.snippet-one,
.snippet-one * {
	font-size: 0.85rem;
}

/* Copy button transition animation */
.snippet-copy svg {
	transform-origin: 50% 50%;
}

@media (max-width: 580px) {
	.logo h1 {
		font-size: 3rem;
	}

	.logo p {
		font-size: 6rem;
	}

	nav {
		width: 80%;
	}
}
