/* Import nord module */
@import "./nord.css";

/* Import Quicksand Font */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400...600&family=Quicksand:wght@200...600");

/* Light theme */
[data-theme="light"] {
	--bg: var(--nord6);
	--text: var(--nord0);
	--nav-text: var(--nord3);
	--header-text: var(--nord15);
	--inline-snippet: var(--nord9);
	--snippet-bg: var(--nord0);
}

/* Dark theme */
[data-theme="dark"] {
	--bg: var(--nord0);
	--text: var(--nord6);
	--nav-text: var(--nord5);
	--header-text: var(--nord15);
	--inline-snippet: var(--nord13);
	--snippet-bg: var(--nord1);
}

/* Class to add during transition of themes */
.theme-transition {
	transition: background 0.25s ease-in-out;
}

html {
	background-color: var(--bg);
	color: var(--text);
	font-family: "Quicksand", --apple-system, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin: 0 auto;
	width: 80%;
}

nav {
	display: flex;
	justify-content: space-between;
	margin: 2rem auto;
}

nav a,
nav a:visited {
	color: var(--nav-text);
	font-weight: 500;
	text-decoration: none;
}

.headline {
	margin-bottom: 2rem;
}

.headline h1 {
	color: var(--header-text);
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.inline-snippet {
	color: var(--inline-snippet);
	font-weight: 500;
}

.snippet {
	background: var(--snippet-bg);
	border-radius: 0.5rem;
	padding: 1rem 1rem 1rem 1.5rem;
}

.snippet-bar {
	display: flex;
	flex-direction: row-reverse;
}

.snippet-copy {
	/* resets for styling */
	background: inherit;
	border: 0;
	border-radius: 0.5rem;
	color: var(--nord8);
	cursor: pointer;
	white-space: nowrap;

	/* sizing and positioning */
	width: 25px;
	height: 25px;
	margin-left: 0.5rem;
	padding: 0;
}

.snippet-copy:hover {
	color: var(--nord15);
}

.snippet-copy:focus,
.snippet-copy:active {
	color: var(--nord8);
}

.snippet pre,
.snippet-one {
	background: var(--snippet-bg) !important;
	margin: 0;
}

.snippet-one,
.snippet-one * {
	font-size: 0.85rem;
}
