/*
 * Synthwave '84 Theme originally by Robb Owen [@Robb0wen] for Visual Studio Code
 * Demo: https://marc.dev/demo/prism-synthwave84
 *
 * Ported for PrismJS by Marc Backes [@themarcba]
 */

/*

  Define dark and light theme colors

*/

[data-theme="dark"] {
	/* Sets snippet background */
	--snippet-bg: linear-gradient(to bottom, #2a2139 75%, #34294f);

	/* Text colors */
	--main-text: #f92aad;
	--comment-blockComment-prolog-doctype-cdata-text: #8e8e8e;
	--punctuation-text: #ccc;
	--tag-attr-namespace-number-unit-hexcode-deleted-text: #e2777a;
	--property-selector-text: #72f1b8;
	--functionName-text: #6196cc;
	--boolean-selector-id-function-text: #fdfdfd;
	--className-text: #fff5f6;
	--constant-symbol-text: #f92aad;
	--important-atrule-keyword-selectorClass-builtin-text: #f4eee4;
	--string-char-attrValue-regex-variable-text: #f87c32;
	--operator-entity-url-text: #67cdcc;
	--inserted-text: green;

	/* Text shadows */
	--main-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;
	--property-selector-shadow: 0 0 2px #100c0f, 0 0 10px #257c5575,
		0 0 35px #21272475;
	--boolean-selector-id-function-shadow: 0 0 2px #001716, 0 0 3px #03edf975,
		0 0 5px #03edf975, 0 0 8px #03edf975;
	--className-shadow: 0 0 2px #000, 0 0 10px #fc1f2c75, 0 0 5px #fc1f2c75,
		0 0 25px #fc1f2c75;
	--constant-symbol-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;
	--important-atrule-keyword-selectorClass-builtin-shadow: 0 0 2px #393a33,
		0 0 8px #f39f0575, 0 0 2px #f39f0575;
}

[data-theme="light"] {
	/* Sets snippet background */
	--snippet-bg: #f9fbfc;

	/* Text colors */
	--main-text: #231b30;
	--comment-blockComment-prolog-doctype-cdata-text: #c792ea;
	--punctuation-text: #5d80ae;
	--tag-attr-namespace-number-unit-hexcode-deleted-text: #c77a60;
	--property-selector-text: #5abd90;
	--functionName-text: #6196cc;
	--boolean-selector-id-function-text: #3b979c;
	--className-text: #8a94e4;
	--constant-symbol-text: #f92aad;
	--important-atrule-keyword-selectorClass-builtin-text: #f772e0;
	--string-char-attrValue-regex-variable-text: #ee945f;
	--operator-entity-url-text: #b34fa2;
	--inserted-text: green;

	/* Text shadows */
	--main-shadow: none;
	--property-selector-shadow: none;
	--boolean-selector-id-function-shadow: none;
	--className-shadow: none;
	--constant-symbol-shadow: none;
	--important-atrule-keyword-selectorClass-builtin-shadow: none;
}

/*

  Define styles

*/

code[class*="language-"],
pre[class*="language-"] {
	color: var(--main-text);
	text-shadow: var(--main-shadow);
	background: none;
	font-size: 0.85rem;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	border-radius: 0.5rem;
	padding: 2rem;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: var(--snippet-bg);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--comment-blockComment-prolog-doctype-cdata-text);
}

.token.punctuation {
	color: var(--punctuation-text);
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.number,
.token.unit,
.token.hexcode,
.token.deleted {
	color: var(--tag-attr-namespace-number-unit-hexcode-deleted-text);
}

.token.property,
.token.selector {
	color: var(--property-selector-text);
	text-shadow: var(--property-selector-shadow);
}

.token.function-name {
	color: var(--functionName-text);
}

.token.boolean,
.token.selector .token.id,
.token.function {
	color: var(--boolean-selector-id-function-text);
	text-shadow: var(--boolean-selector-id-function-shadow);
}

.token.class-name {
	color: var(--className-text);
	text-shadow: var(--className-shadow);
}

.token.constant,
.token.symbol {
	color: var(--constant-symbol-text);
	text-shadow: var(--constant-symbol-shadow);
}

.token.important,
.token.atrule,
.token.keyword,
.token.selector .token.class,
.token.builtin {
	color: var(--important-atrule-keyword-selectorClass-builtin-text);
	text-shadow: var(--important-atrule-keyword-selectorClass-builtin-shadow);
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: var(--string-char-attrValue-regex-variable-text);
}

.token.operator,
.token.entity,
.token.url {
	color: var(--operator-entity-url-text);
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: var(--inserted-text);
}
